/riscvemu
/.vscode/*
/.vscode
/build/*
/build
/tests
/tests/*
dtb.dtb
dtb.dts
fw_jump.elf
Image.bin
kernel
minimal.dtb
minimal.dts
qemu.dtb
qemu.dts
qlog.txt
sdcard.img
fakekernel.bin
fakekernel.S
memory_map.h.gcov
cpu.cpp.gcov
cpu.h.gcov
.gitignore
disk.img
