/riscvemu
/.vscode/*
/.vscode
/build/*
/build
/tests
/tests/*
dtb.dtb
dtb.dts
fw_jump.elf
Image
Image.bin
kernel
minimal.dtb
minimal.dts
qemu.dtb
qemu.dts
qlog.txt
rootfs.ext2
sdcard.img
fakekernel.bin
fakekernel.S