/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	model = "Risc-V EM";
	compatible = "riscv-virtio";

	poweroff {
		value = <0x5555>;
		offset = <0x00>;
		regmap = <0x04>;
		compatible = "syscon-poweroff";
	};

	reboot {
		value = <0x7777>;
		offset = <0x00>;
		regmap = <0x04>;
		compatible = "syscon-reboot";
	};

	chosen {
		bootargs = "console=ttyS0";
		rng-seed = <0x5fc05cec 0x2ddaa76b 0x1d438e93 0x7755c394 0xcde9b128 0x70541c65 0xd781f1dc 0x504ac66c 0x68ec1eb 0x38dfac10 0x6d4e89b8 0xb6db626a 0xcc69d110 0xfffc5fbd 0x1f1dcae8 0x1a469cd0>;
		stdout-path = "/soc/uart@10000000";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x00 0x20000000>;
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <0x989680>;

		cpu@0 {
			device_type = "cpu";
			reg = <0x00>;
			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			compatible = "riscv";
			status = "okay";
			riscv,isa = "rv64ima_zicsr_zifencei";
			phandle = <0x01>;

			interrupt-controller {
				#interrupt-cells = <0x01>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x02>;
			};
		};
	};

	soc {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		compatible = "simple-bus";
		ranges;

		plic@c000000 {
			reg = <0x00 0xc000000 0x00 0x400000>;
			compatible = "sifive,plic-1.0.0";
			interrupt-controller;
			#interrupt-cells = <0x01>;
			#address-cells = <0x00>;
			interrupts-extended = <0x02 0x0b 0x02 0x09>;
			riscv,ndev = <0x1f>;
			phandle = <0x03>;
		};

		test@100000 {
			reg = <0x00 0x100000 0x00 0x100>;
			compatible = "sifive,test1", "sifive,test0", "syscon";
			phandle = <0x04>;
		};

		uart@10000000 {
			reg = <0x00 0x10000000 0x00 0x100>;
			compatible = "ns16550a";
			clock-frequency = <0x1312d00>;
			fifo-size = <0x10>;
			status = "okay";
			interrupt-parent = <0x03>;
			interrupts = <0x01>;
		};

		clint@2000000 {
			reg = <0x00 0x2000000 0x00 0x10000>;
			compatible = "sifive,clint0", "riscv,clint0";
			interrupts-extended = <0x02 0x03 0x02 0x07>;
		};
	};
};
