/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	model = "Risc-V EM";
	compatible = "riscv-virtio", "simple-bus";

	chosen {
		bootargs = [00];
		rng-seed = <0xef2aacf7 0x9341db1f 0xc9d56329 0x95067a70 0x299f045b 0x5ee648bd 0x70360cf3 0x3f9956df 0x3c75bffe 0x1a439fcc 0x5f6f9ade 0x74404d80 0x675f09ef 0x1104193c 0x231c7c8d 0x6a2e571c>;
		stdout-path = "/soc/serial@10000000";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x00 0x10000000>;
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <0x989680>;

		cpu@0 {
			device_type = "cpu";
			reg = <0x00>;
			compatible = "riscv";
			status = "okay";
			riscv,isa = "rv64ima_zicsr_zifencei_zba_zbb_zbc_zbs_sstc";
			mmu-type = "riscv,sv39";
			phandle = <0x01>;

			interrupt-controller {
				#interrupt-cells = <0x01>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x02>;
			};
		};
	};

	soc {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		compatible = "simple-bus";
		ranges;

		plic@c000000 {
			reg = <0x00 0xc000000 0x00 0x400000>;
			compatible = "sifive,plic-1.0.0";
			interrupt-controller;
			#interrupt-cells = <0x01>;
			#address-cells = <0x00>;
			riscv,ndev = <0x08>;
			interrupts-extended = <0x02 0x0b 0x02 0x09>;
			phandle = <0x04>;
		};

		test@1000000 {
			reg = <0x00 0x1000000 0x00 0x1000>;
			compatible = "sifive,test1", "sifive,test0", "syscon";
			phandle = <0x03>;
		};

		serial@10000000 {
			reg = <0x00 0x10000000 0x00 0x100>;
			compatible = "ns16550a";
			clock-frequency = <0x1312d00>;
			fifo-size = <0x10>;
			status = "okay";
			interrupt-parent = <0x04>;
			interrupts = <0x01>;
		};

		clint@2000000 {
			reg = <0x00 0x2000000 0x00 0x10000>;
			compatible = "sifive,clint0", "riscv,clint0";
			interrupts-extended = <0x02 0x03 0x02 0x07>;
		};

		virtio_mmio@10001000 {
			compatible = "virtio,mmio";
			reg = <0x00 0x10001000 0x00 0x1000>;
			interrupt-parent = <0x04>;
			interrupts = <0x02>;
		};
	};

	poweroff {
		value = <0x5555>;
		offset = <0x00>;
		regmap = <0x03>;
		compatible = "syscon-poweroff";
	};

	reboot {
		value = <0x7777>;
		offset = <0x00>;
		regmap = <0x03>;
		compatible = "syscon-reboot";
	};
};
